extends layout

block content
  h1= title
  
  img(src='http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcRQRq57PPBe58-ycmLASoiCsF00B4X6_7NpwIwOqpLektRueBEzllFVcQMlBwAg__vruHUaFSCuHVd3Yr0' height="600px" width="auto" )

  